@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-stroke-f3d2c1 {
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #f3d2c1;
	}
	.news-text {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.news-title {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
